---
---
<!-- <div>
<p class="text-gray-500"> @copyright </p>
</div>
   -->

<div class="text-gray-50 bg-gray-500 py-8 max-w-screen-xl mx-auto text-white color-change-2x">
    <div class="grid grid-cols-3 justify-items-center pb-8">
        <section>Københavnerbilleder 1</section>
        <section>Forfatter</section>
        <section>Køb nu!</section>
    </div>
    <div class="flex justify-center">
        <p>copyright @ 2024</p>
    </div>
</div>
  